adjustText
geopandas
hdbscan
ipywidgets
matplotlib
matplotlib-inline
matplotlib-venn
numpy
pandas
pandas-datareader
pandas-gbq
pandas-stubs
plotly
prettytable
requests
requests-oauthlib
scikit-learn
scipy
seaborn
sklearn-pandas
umap-learn
